.footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-container-top,
.footer-container-bottom {
    display: flex;
}

.footer-container-top {
    margin-bottom: 45px;
}

.footer-logo {
    margin-top: auto;
    padding-bottom: 6px;
}

.footer-nav {
    margin-left: auto;
    margin-right: 203px;
}

.footer-nav-subtitle {
    margin-bottom: 30px;
    color: var(--White);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.footer-nav-item {
    margin-bottom: 20px;
    color: var(--White);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.footer-contacts {
    max-width: 280px;
}

.footer-contacts-icons {
    display: flex;
    gap: 18px;
}

.footer-bottom-copy,
.footer-bottom-privacy {
    color: var(--White);
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.15px;
}

.footer-bottom-copy {
    margin-right: 440px;
}

@media (max-width: 1439px) {
    .footer-container {
        padding-top: 20px;
    }

    .footer-container-top {
        margin-bottom: 20px;
    }

    .footer-logo {
        padding-bottom: 21px;
    }

    .footer-contacts {
        display: flex;
    }

    .footer-nav {
        margin-left: auto;
        margin-right: 139px;
    }

    .footer-contacts {
        max-width: 450px;
    }

    .footer-contacts-container {
        margin-right: 81px;
    }

    .footer-contacts-icons {
        flex-direction: column;
        gap: 40px;
    }

    .footer-bottom-copy {
        margin-right: 34%;
    }
}

@media (max-width: 999px) {
    .footer-contacts-container {
        margin-right: -28px;
    }

    .footer-nav {
        margin-right: 82px;
    }

    .footer-logo img {
        max-width: 89%;
    }

    .footer-bottom-copy {
        margin-right: 29%;
    }
}