.hero-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-title {
    margin-bottom: 40px;
}

.hero-subtitle {
    font-size: 25px;
    font-weight: 300;
    line-height: 150%;
    color: var(--Text-Grey);
    margin-left: 400px;
    margin-bottom: 30px;
    max-width: 480px;
}

.hero-btn {
    position: relative;
    outline: none;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: var(--White);
    background-color: var(--Pink);
    border-radius: 50px;
    margin-left: 400px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 480px;
    transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

.hero-btn::after {
    content: "";
    position: absolute;
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: inherit;
    border: 3px solid var(--Pink-Border);
    opacity: 0;
    outline: none;
    transition: opacity 0.3s ease-in-out;
}

.hero-btn:focus-visible::after {
    opacity: 1;
}

.hero-btn:hover {
    background-color: var(--Pink-Button-Hover);
}

.hero-btn:active {
    background-color: var(--Pink-Button-Active);
}

.hero-btn:active::after {
    opacity: 0;
}

@media (max-width: 1439px) {
    .hero-container {
        padding-top: 50px;
    }

    .hero-title {
        transform: translateX(-10px);
        margin-bottom: 22px;
    }

    .hero-subtitle {
        margin-left: 236px;
    }

    .hero-btn {
        margin-left: 236px;
        font-size: 25px;
        font-weight: 500;
        line-height: 150%;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 450px;
        margin-bottom: 39px;
    }
}

@media (max-width: 999px) {
    .hero-title {
        transform: translateX(-3px);
        margin-bottom: 44px;
    }

    .hero-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 340px;
    }
}

@media (max-width: 710px) {
    .hero-container {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .hero-title {
        transform: translateX(-11px);
        margin-bottom: 12px;
    }

    .hero-subtitle {
        margin-left: 88px;
        margin-bottom: 11px;
        font-size: 14px;
    }

    .hero-btn {
        margin-left: 88px;
        margin-bottom: 20px;
        font-size: 16px;
        width: 165px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}