.idea-container {
    max-width: 880px;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.idea-subtitle {
    margin-bottom: 40px;
}

.paragraph-idea {
    margin-bottom: 50px;
    color: var(--White);
}

.idea-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.idea-form-container {
    display: flex;
    gap: 20px;
}

.idea-form input,
.idea-form textarea {
    padding: 20px 40px;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.40);
    color: var(--White);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

input[type="tel"],
input[type="email"] {
    flex-basis: 50%;
}

.idea-form input::placeholder,
.idea-form textarea::placeholder {
    color: var(--White);
}

.idea-form input:focus,
.idea-form textarea:focus {
    outline: none;
}

.idea-form-btn {
    color: var(--Pink);
    background-color: var(--White);
    padding: 20px 40px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 50px;
}

.modal {
    position: absolute;
    top: 366px;
    left: -10px;
}

.modal-content {
    padding: 50px;
    color: var(--White);
    background-color: var(--Pink);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 100px;
}

.modal-content p {
    text-align: center;
    margin-bottom: 250px;
}

.modal-close {
    width: 850px;
    padding: 15px 40px;
    border-radius: 50px;
    color: var(--Pink);
    background-color: var(--White);
}


@media (max-width: 1439px) {
    .idea-container {
        max-width: 685px;
        padding-top: 50px;
        overflow-x: hidden;
    }

    .idea-subtitle {
        width: 120%;
        margin-bottom: 40px;
    }

    .idea-form,
    .idea-form-container {
        gap: 10px;
    }

    .idea-form input,
    .idea-form textarea {
        padding: 15px 20px;
        font-size: 18px;
    }

    .idea-form-btn {
        font-size: 25px;
        padding: 16px 40px;
    }

    .modal {
        top: 200px;
    }

    .modal-content {
        border-radius: 50px;
    }

    .modal-close {
        width: 600px;
    }
}

@media (max-width: 999px) {
    .idea-container {
        max-width: 520px;
    }

    .idea-subtitle {
        width: 112%;
    }

    .modal {
        top: 170px;
    }
    
    .modal-close {
        width: 480px;
    }
}

@media (max-width: 710px) {
    .idea-container {
        max-width: 252px;
        padding-top: 31px;
        padding-bottom: 31px;
    }

    .idea-subtitle {
        width: 117%;
        margin-bottom: 15px;
    }

    .idea-form input,
    .idea-form textarea {
        padding: 10px 15px;
        font-size: 12px;
    }

    .idea-form-container {
        flex-direction: column;
    }

    .idea-form-btn {
        font-size: 16px;
        padding: 10px 15px;
    }

    .modal {
        top: 85px;
    }

    .modal-content {
        font-size: 15px;
    }

    .modal-content p {
        margin-bottom: 155px;
    }
    
    .modal-close {
        width: 190px;
        padding: 10px 40px;
    }
}