.idea-container {
    max-width: 880px;
    margin-left: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.idea-subtitle {
    margin-bottom: 40px;
}

.paragraph-idea {
    margin-bottom: 50px;
    color: var(--White);
}

.idea-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.idea-form-container {
    display: flex;
    gap: 20px;
}

.idea-form input,
.idea-form textarea {
    padding: 20px 40px;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.40);
    color: var(--White);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

input[type="tel"],
input[type="email"] {
    flex-basis: 50%;
}

.idea-form input::placeholder,
.idea-form textarea::placeholder {
    color: var(--White);
}

.idea-form input:focus,
.idea-form textarea:focus {
    outline: none;
}

.idea-form-btn {
    color: var(--Pink);
    background-color: var(--White);
    padding: 20px 40px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 50px;
}

@media (max-width: 1439px) {
    .idea-container {
        max-width: 685px;
        padding-top: 50px;
        overflow-x: hidden;
    }

    .idea-subtitle {
        width: 120%;
        margin-bottom: 40px;
    }

    .idea-form,
    .idea-form-container {
        gap: 10px;
    }

    .idea-form input,
    .idea-form textarea {
        padding: 15px 20px;
        font-size: 18px;
    }
    
    .idea-form-btn {
        font-size: 25px;
        padding: 16px 40px;
    }
}

@media (max-width: 999px) {
    .idea-container {
        max-width: 520px;
    }

    .idea-subtitle {
        width: 112%;
    }
}


