.team-container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 880px;
    margin-left: auto;
}

.team-subtitle {
    color: var(--White);
}

.paragraph-team {
    color: var(--White);
}

.team-cards-container {
    margin-bottom: 32px;
}

.team-cards-ribbon {
    display: flex;
    gap: 20px;
    width: 880px;
}

.team-card {
    padding: 20px 20px 15px;
}

.team-card-1 {
    background-color: var(--Pink);
}

.team-card-2 {
    background-color: var(--Blue);
}

.team-card-3 {
    background-color: var(--Green);
}

.team-card-image {
    margin-bottom: 20px;
}

.team-card-subtitle {
    margin-bottom: 10px;
    color: var(--White);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.team-card-role {
    color: var(--White);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.15px;
}

.team-btn {
    margin-right: 30px;
}

@media (max-width: 1439px) {
    .team-container {
        max-width: 685px;
        padding-bottom: 46px;
    }

    .team-subtitle {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .team-cards-container {
        overflow-x: hidden;
    }
}

@media (max-width: 999px) {
    .team-container {
        max-width: 520px;
    }
}

@media (max-width: 710px) {
    .team-container {
        max-width: 252px;  
        padding-top: 44px;
        padding-bottom: 23px;
    }

    .team-subtitle {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .team-cards-container {
        margin-bottom: 15px;
    }

    .team-cards-ribbon {
        gap: 10px;
        width: 530px;
    }

    .team-card {
        padding: 20px 20px 20px;
    }

    .team-card-image {
        margin-bottom: 16px;
    }

    .team-card-subtitle {
        font-size: 15px;
        margin-bottom: 6px;
    }

    .team-btn svg {
        width: 30px;
        height: 30px;
    }
}


