.who-container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 880px;
    margin-left: auto;
}

.who-subtitle {
    color: var(--Black);
}

.who-picture-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.who-subtitle-img {
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 1439px) {
    .who-container {
        max-width: 685px;
        padding-top: 26px;
    }

    .who-subtitle {
        margin-bottom: 35px;
    }

    .who-picture {
        width: 215px;
        height: 215px;
    }

    .who-subtitle-img {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

@media (max-width: 999px) {
    .who-container {
        max-width: 520px;
    }

    .who-picture {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 710px) {
    .who-container {
        max-width: 252px;
        padding-bottom: 41px;
    }

    .who-subtitle {
        margin-bottom: 15px;
    }

    .who-picture-container {
        gap: 10px;
    }

    .who-picture {
        width: 77px;
        height: 77px;
    }

    .who-subtitle-img {
        padding-bottom: 28px;
    }
}